# Syntax highlight
include /usr/share/nano/*.nanorc

# Editor preferences
set atblanks
set autoindent
# set constantshow
set cutfromcursor
set emptyline
set indicator
set linenumbers
set magic
# set minibar
set mouse
set showcursor
set softwrap
set speller "aspell -x -c"
set tabsize 4
set tabstospaces
set trimblanks
set zap

# Theme
set titlecolor bold,lightwhite,blue
# set promptcolor lightwhite,lightblack
set statuscolor bold,lightwhite,green
set errorcolor bold,lightwhite,red
set spotlightcolor black,lime
set selectedcolor lightwhite,magenta
set stripecolor ,yellow
set scrollercolor cyan
set numbercolor cyan
set keycolor cyan
set functioncolor lightgreen
